@media  ( max-width: 1200px )
    .nav_link
        font-size: 15px
        margin-right: 15px
    .nav_item
        padding-right: 10px
        &:nth-child(8)
            padding-right: 0
    .marge
        margin-right: 0

    .title
        font-size: 60px
        line-height: 96px
    .icons
        &_up, &_down
            margin-right: 15px
            &:last-child
                margin-right: 0
        &_middle
            width: 560px
            height: 560px
            padding: 112px 0
            &_ball
                width: 350px
                height: 350px
    .main_news, .main_title
        padding: 0 80px
    // .nav_item
    //     padding-right: 10px
    //     &:nth-child(8)
    //         padding-right: 0
    .descr
        display: flex
        flex-wrap: wrap
        width: 100%
        &_1, &_2, &_3
            width: 100%
            height: 100%
            margin-top: 30px
            font-size: 16px
        &_1
            margin-top: 26px
    // .news
    //     &_1, &_3

    //         width: 71%
    //         height: 188px
    //         padding: 0 15px 0 0
    .news
        &_1, &_3, &_2, &_4
            // width: 630px
            width: 575px
        &_1, &_3
            left: 80px

        &_2, &_4
            // width: 70%
            // height: 188px
            left: 290px
        .square_3, .square_1
            // right: -13px
            right: 80px
        .square_2, .square_4
            left: 80px
    // .upload_news
    //     margin: auto 218px
    .paragraphs
        padding: 0 80px
        &_2, &_3
            margin-top: 20px
    .icons
        &_up, &_down
            width: 140px
            height: 140px
        &_middle
            width: 500px
            height: 500px
            &_ball
                width: 300px
                height: 300px
                margin-top: -30px
    .swiper-slide
        img
            max-width: 730px
            margin-left: 60px

    .sliders_wrapper
        max-width: 730px
    .swiper
        .text
            top: 105px
        .subtitle
            padding-top: 35px
        &_button_next
            top: 38%
            right: -20px
        &_button_prev
            left: -15px
            top: 38%
    .form
        .container
            width: 730px
        .perso
            width: 240px
        .comment
            width: 540px
        &_btn
            width: 540px
    .info
        padding: 0
        &_blocks
            width: 730px
        &_btn
            width: 730px
        &_perso
            padding: 57px 80px 0 80px
            width: 730px
            &_name, &_phone
                width: 258px
            &_phone
                margin-left: 20px
    .form
        padding: 58px 0 90px 0

    // .sliders_wrapper
    //     max-width: 765px
    // .swiper
    //     .text
    //         top: 105px
        // &_button_next
        //     right: -40px
        // &_button_prev
        //     left: -40px
    // .form
    //     .container
    //         width: 765px
    //     .perso
    //         width: 255px
    //     .comment
    //         width: 540px
    //     &_btn
    //         width: 540px

@media ( max-width: 991px )
    .nav_link
        font-size: 14px
        margin-right: 8px
    .marge
        margin-right: 0
    .descr
        &_1, &_2, &_3
            width: 100%
            height: 100%
            margin-top: 30px
            font-size: 16px
        &_1
            margin-top: 25px
    .main_news, .main_title, .main
        padding: 0 30px
    .title
        font-size: 46px
        line-height: 60px
        margin-top: 30px

    .subtitle
        font-size: 32px
        line-height: 30px
    // // .news
    // //     &_1, &_3

    // //         width: 71%
    // //         height: 188px
    // //         padding: 0 15px 0 0
    .news
        &_1, &_3, &_2, &_4
            width: 558px
            line-height: 20px

        &_1, &_3
            left: 30px
        &_2, &_4
            left: 190px
        .square_3, .square_1, .square_4, .square_2
            width: 150px
        .square_1, .square_3
            right: 20px
        .square_4, .square_2
            left: 30px
    // .upload_news
    //     // margin: auto 218px
    //     &:hover

    .icons
        &_up, &_down
            width: 105px
            height: 105px
            margin-right: 6px
            img
                width: 80px
                height: 80px
        &_middle
            width: 450px
            height: 450px
            padding: 105px 0
            &_ball
                width: 270px
                height: 270px
                margin-top: -17px

    .sliders
        padding-bottom: 30px
        .swiper-slide
            img
                max-width: 700px
                margin-left: 35px
            .subtitle
                padding-top: 20px
        .sliders_wrapper
            max-width: 700px
        .swiper
            .text
                top: 60px
                .btn
                    margin-top: 10px
            &_button_next
                right: 10px
                top: 35%
                background-color: #fff
                border: 1px solid rgba(0,0,0,0.25)
            &_button_prev
                left: 10px
                top: 35%
                background-color: #fff
                border: 1px solid rgba(0,0,0,0.25)
            .dots
                margin-top: 10px
    .form
        padding: 35px 0 75px 0
        .container
            width: 700px
        .perso
            width: 226px
        .comment
            width: 481px
        &_btn
            width: 481px
        &_gender_label
            &:after, &:before
                margin-right: -4px

    .info
        padding: 0
        &_blocks
            width: 730px
        &_btn
            width: 730px
        &_perso
            padding: 57px 80px 0 80px
            width: 730px
            &_name, &_phone
                width: 258px
            &_phone
                margin-left: 20px
            &_btn
                width: 540px
        &_blocks
            width: 700px

@media ( max-width: 767px )
    .nav
        position: fixed
        width: 60%
        top: 0
        left: -100%
        padding: 20px 15px
        flex-direction: column
        justify-content: center
        height: 100vh
        transition: all 1s ease
        background-color: rgba(0, 66, 114, .8)
        &_active
            left: 0
        &_item
            padding-right: 0
            margin: 10px
        &_link
            font-size: 20px
        .nav_item:hover .dropdown_menu
            background-color: rgba(0, 194, 255, .2) // A REVOIR PLUTARD!!!!!
            padding: 3px 0 5px 7px
            height: 12vh
            left: 96px
            top: 34px
            .dropdown_menu_link
                font-size: 14px
            .dropdown_menu_item
                margin: 0
        .nav_item:hover span
            background-color: rgba(0, 194, 255, .2)
            width: 100%
            height: 15px
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 30px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 2px
            transition: .6s all ease
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)

    .marge
        margin-right: 8px
    .main_news, .main_title
        padding: 0 30px
    .icons
        &_up, &_down
            width: 100px
            height: 100px
            img
                width: 70px
                height: 70px
        &_middle
            width: 350px
            height: 350px
            padding: 135px 0
            &_ball
                width: 210px
                height: 210px
                margin-top: -16%
    .upload_news
        // margin: auto 218px
        &:hover
    .doctor
        width: 528px
        height: 337px
        &_img
            top: -106px
    .sliders
        .sliders_wrapper
            max-width: 630px
        .swiper
            .swiper-slide
                img
                    max-width: 630px
                    margin-left: 70px
                .subtitle
                    padding-top: 10px
                    font-size: 24px
                .text
                    top: 40px
            &_button_prev, &_button_next
                background-color: #fff
                border: 1px solid rgba(0, 0, 0, .25)
                top: 30%
            &_button_prev
                left: 27px
            &_button_next
                right: 27px
            .btn
                margin-top: 0
@media ( max-width: 575px )
    nav
        padding: 0
        .nav
            align-items: flex-start
            width: 75%
            z-index: 2
            &_item:hover span
                background-color: rgba(0, 194, 255, .6)
                width: 44%
            &:hover .dropdown_menu
                left: 94px
                background-color: rgba(0, 194, 255, .6)
                margin-left: 0

    .main
        padding: 0 29px
    .main_title
        padding: 0 29px 70px 29px
        .subtitle
            font-size: 28px
            line-height: 33px
            margin-top: 6px
        .descr
            flex-direction: column-reverse
            &_1
                width: 317px
                margin-top: 69px
                font-size: 14px
            &_2, &_3
                display: none
    .main_news
        padding: 0 29px 58px 29px
        .title
            line-height: 54px
            margin-top: 35px
        .news
            &_1, &_3, &_2, &_4
                width: 317px
            &_2, &_4
                left: 29px
            .news_mob_1
                margin-top: 88px
            .news_mob_2
                margin-top: 231%
            .news_mob_3
                margin-top: 296%
            .news_mob_4
                margin-top: 500%
            .mob_1
                margin-top: 527px
            .mob_2
                margin-top: 527px
            .mob_3, .mob_4
                margin-top: 431%
            //     left: 190px
            // &_1, &_3
            //     left: 30px
            .square_1, .square_3, .square_2, .square_4
                width: 317px
                left: 29px
        .upload_news
            width: 317px
            margin-top: 700%
    .icons
        margin-top: 0
        padding: 0 29px
        &_block
            display: -webkit-box
            -webkit-box-pack: justify
            flex-wrap: wrap
            width: 317px
        &_up, &_down
            width: 119px
            height: 125px
            margin: 0
            margin-bottom: 58px
            &:last-child
                margin-bottom: 0px
        &_middle
            width: 312px
            height: 325px
            padding: 85px 63px
            margin: 43px 0 55px 0
            &_ball
                width: 191px
                height: 188px
    .doctor
        display: none
    .paragraphs
        padding: 0 29px
        &_1, &_2, &_3
            width: 317px
    .sliders
        padding: 33px 29px 77px 29px
        .sliders_wrapper
            flex-direction: column
            .sliders_squares
                background: #e2e2e2
                width: 317px
            .sliders_1
                background: #ff0000
                width: 315.32px
                margin-bottom: 31px
            .sliders_2
                margin-bottom: 31px
        .swiper
            margin-top: 77px
            max-width: 314px
            height: 496px
            .swiper-slide
                img
                    max-width: 314px
                    height: 496px
                    margin: 0
                .subtitle
                    padding: 40px 0 0 45px
                .text
                    padding: 20px 26px 48px 45px
                    p
                        margin-top: 20px
                        width: 243px
                        height: 289px
                        span
                            display: none
                    .btn
                        margin-top: 20px
            &_button_prev
                left: -25px
            &_button_next
                right: -70px
            .dots
                margin-top: 23px
    .form
        padding: 46px 0 64px 0
        .container
            max-width: 317px
            padding: 40px 29px 25px 29px
            .form_perso
                display: flex
                justify-content: flex-start
                flex-direction: column
                align-items: center
                margin-top: 20px
                .form_mail
                    margin-top: 17px
                    margin-left: 0
                .form_phone
                    margin-top: 0
                .perso
                    width: 259px
            .form_gender
                display: flex
                align-items: flex-start
                justify-content: flex-start
                padding: 33px 0 0 0
                &_gender1
                &_label
                    &::before
                        right: -44%
                    &::after
                        right: -37%
                .spy
                    margin-left: 98px
            
            
        


    // .sliders
    //     .sliders_wrapper
    //         max-width: 630px
    //     .swiper
    //         .swiper-slide
    //             img
    //                 max-width: 630px
    //                 margin-left: 70px
    //             .subtitle
    //                 padding-top: 10px
    //                 font-size: 24px
    //             .text
    //                 top: 40px
    //         &_button_prev, &_button_next
    //             background-color: #fff
    //             border: 1px solid rgba(0, 0, 0, .25)
    //             top: 30%
    //         &_button_prev
    //             left: 27px
    //         &_button_next
    //             right: 27px
    //         .btn
    //             margin-top: 0
