@media  ( max-width: 1200px )
    .nav_link
        font-size: 15px
        margin-right: 15px
    .nav_item
        padding-right: 10px
        &:nth-child(8)
            padding-right: 0
    .marge
        margin-right: 0

    .title
        font-size: 60px
        line-height: 96px
    .icons
        &_up, &_down
            margin-right: 15px
            &:last-child
                margin-right: 0
        &_middle
            width: 560px
            height: 560px
            padding: 112px 0
            &_ball
                width: 350px
                height: 350px
    .main_news, .main_title
        padding: 0 80px
    // .nav_item
    //     padding-right: 10px
    //     &:nth-child(8)
    //         padding-right: 0
    .descr
        display: flex
        flex-wrap: wrap
        width: 100%
        &_1, &_2, &_3
            width: 100%
            height: 100%
            margin-top: 30px
            font-size: 16px
        &_1
            margin-top: 26px
    // .news
    //     &_1, &_3

    //         width: 71%
    //         height: 188px
    //         padding: 0 15px 0 0
    .news
        &_1, &_3, &_2, &_4
            // width: 630px
            width: 575px
        &_1, &_3
            left: 80px

        &_2, &_4
            // width: 70%
            // height: 188px
            left: 290px
        .square_3, .square_1
            // right: -13px
            right: 80px
        .square_2, .square_4
            left: 80px
    // .upload_news
    //     margin: auto 218px
    .paragraphs
        padding: 0 80px
        &_2, &_3
            margin-top: 20px
    .icons
        &_up, &_down
            width: 140px
            height: 140px
        &_middle
            width: 500px
            height: 500px
            &_ball
                width: 300px
                height: 300px
                margin-top: -30px
    .swiper-slide
        img
            max-width: 730px
            margin-left: 60px

    .sliders_wrapper
        max-width: 730px
    .swiper
        .text
            top: 105px
        .subtitle
            padding-top: 35px
        &_button_next
            top: 38%
            right: -20px
        &_button_prev
            left: -15px
            top: 38%
    .form
        .container
            width: 730px
        .perso
            width: 240px
        .comment
            width: 540px
        &_btn
            width: 540px
    .info
        padding: 0
        &_blocks
            width: 730px
        &_btn
            width: 730px
        &_perso
            padding: 57px 80px 0 80px
            width: 730px
            &_name, &_phone
                width: 258px
            &_phone
                margin-left: 20px
    .form
        padding: 58px 0 90px 0

    // .sliders_wrapper
    //     max-width: 765px
    // .swiper
    //     .text
    //         top: 105px
        // &_button_next
        //     right: -40px
        // &_button_prev
        //     left: -40px
    // .form
    //     .container
    //         width: 765px
    //     .perso
    //         width: 255px
    //     .comment
    //         width: 540px
    //     &_btn
    //         width: 540px

@media ( max-width: 991px )
    .nav_link
        font-size: 14px
        margin-right: 8px
    .marge
        margin-right: 0
    .descr
        &_1, &_2, &_3
            width: 100%
            height: 100%
            margin-top: 30px
            font-size: 16px
        &_1
            margin-top: 25px
    .main_news, .main_title, .main
        padding: 0 30px
    .title
        font-size: 46px
        line-height: 60px
        margin-top: 30px
    
    .subtitle
        font-size: 32px
        line-height: 30px
    // // .news
    // //     &_1, &_3

    // //         width: 71%
    // //         height: 188px
    // //         padding: 0 15px 0 0
    .news
        &_1, &_3, &_2, &_4
            width: 558px
            line-height: 20px

        &_1, &_3
            left: 30px
        &_2, &_4
            left: 190px
        .square_3, .square_1, .square_4, .square_2
            width: 150px
        .square_1, .square_3
            right: 0
        .square_4, .square_2
            left: 30px
    // // .upload_news
    // //     margin: auto 218px
    .icons
        &_up, &_down
            width: 120px
            height: 120px
            margin-right: 6px
            img
                width: 96px
                height: 96px
        &_middle
            width: 450px
            height: 450px
            padding: 105px 0
            &_ball
                width: 270px
                height: 270px
                margin-top: -17px

    .sliders
        padding-bottom: 30px
        .swiper-slide
            img
                max-width: 700px
                margin-left: 71px
        .sliders_wrapper
            max-width: 700px
        .swiper
            .text
                top: 80px
            &_button_next
                right: 0
                top: 35%
            &_button_prev
                left: 0
                top: 35%
            .dots
                margin-top: 10px
    .form
        padding: 35px 0 75px 0
        .container
            width: 700px
        .perso
            width: 226px
        .comment
            width: 481px
        &_btn
            width: 481px
        &_gender_label
            &:after, &:before
                margin-right: -4px
                
    .info
        padding: 0
        &_blocks
            width: 730px
        &_btn
            width: 730px
        &_perso
            padding: 57px 80px 0 80px
            width: 730px
            &_name, &_phone
                width: 258px
            &_phone
                margin-left: 20px
            &_btn
                width: 540px
        &_blocks
            width: 700px
   

@media ( max-width: 767px )
    .nav
        position: fixed
        width: 60%
        top: 0
        left: -100%
        padding: 20px 15px
        flex-direction: column
        justify-content: center
        height: 100vh
        transition: all 1s ease 
        background-color: rgba(0, 66, 114, .8)
        &_active
            left: 0
        &_item
            padding-right: 0
            margin: 10px
        &_link
            font-size: 20px
        .nav_item:hover .dropdown_menu
            background-color: rgba(0, 194, 255, .2)  // A REVOIR PLUTARD!!!!!
            padding: 3px 0 5px 7px
            height: 12vh
            left: 96px
            top: 34px
            .dropdown_menu_link
                font-size: 14px
            .dropdown_menu_item
                margin: 0
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 30px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 2px
            transition: .6s all ease
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .nav_item:hover span
        background-color: rgba(0, 194, 255, .2)
        width: 100%
        height: 15px
    .marge
        margin-right: 8px
    .main_news, .main_title
        padding: 0 30px
    // .main
    //     padding: 0 29px
    // .main_title
    //     padding: 0 29px
    //     .subtitle
    //         font-size: 28px
    //         line-height: 33px
    //         margin-top: 6px
    //     .descr
    //         &_1
    //             width: 317px
    //             height: 504px
    //             margin-top: 69px
    //         &_2, &_3 
    //             display: none
    // .title
    //     line-height: 54px
       

    // .news
    //     &_1, &_3, &_2, &_4
    //         width: 75%
    //         height: 188px
    //     &_2, &_4
    //         left: 190px
    //     &_1, &_3
    //         left: 30px
    //     .square_1, .square_3
    //         right: 0px
    //         width: 150px
    //     .square_2, .square_4
    //         left: 30px
    //         width: 150px
    .icons
        &_up, &_down
            width: 145px
            height: 150px
        &_middle
            width: 500px
            height: 500px
            padding: 135px 0
            &_ball
                width: 300px
                height: 300px
                // margin-top: -30px

    //        